<head>
  <title>
    <%= title %>
  </title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
  <link rel="icon" href="/img/favicon.ico">
  <%- include('_css') %>
  <%- include('_scripts') %>
</head>