<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head') %>
  <body>
    <%- include('partials/_header') %>


    <body>
      <h1>
        ERROR!
      </h1>
      <h3>
        Not good bro, not good.
      </h3>
    </body>

    <%- include('partials/_footer') %>
    <%- indlude('partials/_scripts') %>
  </body>
</html>