<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head') %>
  <body>
    <%- include('partials/_header') %>


    <body>
      <h1>
        Document Object Model
      </h1>
    </body>

    <%- include('partials/_footer') %>
    <%- include('partials/_scripts') %>
  </body>
</html>